In [82]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

In [4]:
taitanic = pd.read_csv("data.csv")
taitanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
taitanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [8]:
taitanic["Survived"].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [37]:
#feature and label selection

X = taitanic[["Pclass"]]
y = taitanic["Survived"]

In [38]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [63]:
# knn = KNeighborsClassifier(n_neighbors=10)
# knn.fit(X_train, y_train)
# knn.score(X_test, y_test)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
logreg.score(X_test, y_test)

0.6995515695067265

In [64]:
#CV

kfold = KFold(n_splits = 5, shuffle=True, random_state=42)
cross_val_score(logreg, X, y, cv=kfold).mean()

0.6789843700960392

In [65]:
logreg

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [69]:
#grid search for logreg

param_grid = {"C":[0.001,0.01,0.1,1,10,100]}

In [71]:
grid_search = GridSearchCV(logreg, param_grid, cv=5, return_train_score=True)

In [75]:
grid_search.fit(X_train, y_train)
grid_search.score(X_test, y_test)
grid_search.best_params_
grid_search.best_estimator_

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [77]:
results = pd.DataFrame(grid_search.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,0.001111,0.000148,0.000214,0.000011,0.001,{'C': 0.001},0.619403,0.619403,0.619403,0.624060,...,0.621257,0.002280,5,0.621723,0.621723,0.621723,0.620561,0.620561,0.621258,0.000569
1,0.001019,0.000027,0.000223,0.000017,0.01,{'C': 0.01},0.619403,0.619403,0.619403,0.624060,...,0.621257,0.002280,5,0.621723,0.621723,0.621723,0.620561,0.620561,0.621258,0.000569
2,0.001158,0.000046,0.000222,0.000011,0.1,{'C': 0.1},0.686567,0.671642,0.671642,0.676692,...,0.672156,0.010513,1,0.668539,0.672285,0.672285,0.671028,0.676636,0.672154,0.002625
3,0.001112,0.000078,0.000209,0.000008,1,{'C': 1},0.686567,0.671642,0.671642,0.676692,...,0.672156,0.010513,1,0.668539,0.672285,0.672285,0.671028,0.676636,0.672154,0.002625
4,0.001076,0.000029,0.000205,0.000003,10,{'C': 10},0.686567,0.671642,0.671642,0.676692,...,0.672156,0.010513,1,0.668539,0.672285,0.672285,0.671028,0.676636,0.672154,0.002625
5,0.001056,0.000021,0.000205,0.000008,100,{'C': 100},0.686567,0.671642,0.671642,0.676692,...,0.672156,0.010513,1,0.668539,0.672285,0.672285,0.671028,0.676636,0.672154,0.002625